body {
    margin: 10;
    padding: 10;
    font-family: 'Roboto', sans-serif;
    background-color: #000;
    color: #fff;
    overflow: hidden; /* Impede a rolagem da página */
}

#game {
    position: relative;
    width: 70vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto; /* Centralizar horizontalmente */
    background-image: url('fundo.jpg'); /* Altere o caminho para o diretório onde está sua imagem */
    background-size: cover; /* Para ajustar a imagem ao tamanho da tela */
}

#player {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 40px;
    background-color: #d1f5d1;
    padding: 30;
}

#bullet {
    position: absolute;
    width: 3px;
    height: 10px;
    background-color: #eb1414;
    display: none;
}

.enemy {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #8fbefc;
    border-radius: 50%;
}

.hit {
    opacity: 0;
    transition: opacity 0.5s;
}

#score {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff;
    font-size: 20px;
}

#missedScore {
    position: absolute;
    top: 50px;
    right: 20px;
    color: #fff;
    font-size: 20px;
}

#level {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #fff;
    font-size: 20px;
}

#welcomeScreen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8); /* Fundo semi-transparente */
    padding: 20px;
    border-radius: 10px;
    color: white;
}

#welcomeScreen button {
    background-color: #4CAF50; /* Cor de fundo verde */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#gameOverScreen {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adiciona um fundo escuro semi-transparente */
    color: white;
    text-align: center;
}

#gameOverContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Estilos para o botão de reinício */
#restartButton {
    background-color: #4CAF50; /* Cor de fundo verde */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px; /* Cantos arredondados */
    transition-duration: 0.4s; /* Animação de transição */
}

#restartButton:hover {
    background-color: #45a049; /* Mudança de cor ao passar o mouse */
}
